<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="CategoryService" class="indi.cyken.service.impl.CategoryServiceImpl"></bean>
	<bean id="UserService" class="indi.cyken.service.impl.UserServiceImpl"></bean>
	<bean id="BookService" class="indi.cyken.service.impl.BookServiceImpl"></bean>
	<bean id="CollectionService" class="indi.cyken.service.impl.CollectionServiceImpl"></bean>
	<bean id="SessionService" class="indi.cyken.service.impl.SessionServiceImpl"></bean>
	<bean id="UnitService" class="indi.cyken.service.impl.UnitServiceImpl"></bean>
	<bean id="CourseService" class="indi.cyken.service.impl.CourseServiceImpl"></bean>
	<bean id="WordService" class="indi.cyken.service.impl.WordServiceImpl"></bean>
	<bean id="WordSelectedService" class="indi.cyken.service.impl.WordSelectedServiceImpl"></bean>
	<bean id="BdOcrService" class="indi.cyken.service.impl.BdOcrServiceImpl"></bean>
	<bean id="ScoreService" class="indi.cyken.service.impl.ScoreServiceImpl"></bean>
	<bean id="WordWrongService" class="indi.cyken.service.impl.WordWrongServiceImpl"></bean>
	<bean id="HomeworkService" class="indi.cyken.service.impl.HomeworkServiceImpl"></bean>
	<bean id="SClassService" class="indi.cyken.service.impl.SClassServiceImpl"></bean>
	

   <bean id="UserDao" class="indi.cyken.dao.impl.UserDaoImpl"/>
   <bean id="CategoryDao" class="indi.cyken.dao.impl.CategoryDaoImpl"/>
   <bean id="BookDao" class="indi.cyken.dao.impl.BookDaoImpl"/>
   <bean id="CollectionDao" class="indi.cyken.dao.impl.CollectionDaoImpl"/>
   <bean id="SessionDao" class="indi.cyken.dao.impl.SessionDaoImpl"/>
   <bean id="UnitDao" class="indi.cyken.dao.impl.UnitDaoImpl"/>
   <bean id="CourseDao" class="indi.cyken.dao.impl.CourseDaoImpl"/>
   <bean id="WordDao" class="indi.cyken.dao.impl.WordDaoImpl"/>
   <bean id="WordSelectedDao" class="indi.cyken.dao.impl.WordSelectedDaoImpl"/>
   <bean id="BdOcrDao" class="indi.cyken.dao.impl.BdOcrDaoImpl"/>
   <bean id="ScoreDao" class="indi.cyken.dao.impl.ScoreDaoImpl"/>
   <bean id="WordWrongDao" class="indi.cyken.dao.impl.WordWrongDaoImpl"/>
   <bean id="HomeworkDao" class="indi.cyken.dao.impl.HomeworkDaoImpl"/>
   <bean id="SClassDao" class="indi.cyken.dao.impl.SClassDaoImpl"/>
     
</beans>