<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>indi.cyken.web.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>BaseServlet</display-name>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>indi.cyken.web.servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/base</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/500.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>indi.cyken.web.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>indi.cyken.web.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoryServlet</display-name>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>indi.cyken.web.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/category</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>indi.cyken.web.servlet.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CollectionServlet</display-name>
    <servlet-name>CollectionServlet</servlet-name>
    <servlet-class>indi.cyken.web.servlet.CollectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectionServlet</servlet-name>
    <url-pattern>/collection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>indi.cyken.web.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/session</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UnitServlet</display-name>
    <servlet-name>UnitServlet</servlet-name>
    <servlet-class>indi.cyken.web.servlet.UnitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnitServlet</servlet-name>
    <url-pattern>/unit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CourseServlet</display-name>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>indi.cyken.web.servlet.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/course</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WordServlet</display-name>
    <servlet-name>WordServlet</servlet-name>
    <servlet-class>indi.cyken.web.servlet.WordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WordServlet</servlet-name>
    <url-pattern>/word</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>WordSelectedServlet</display-name>
    <servlet-name>WordSelectedServlet</servlet-name>
    <servlet-class>indi.cyken.web.servlet.WordSelectedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WordSelectedServlet</servlet-name>
    <url-pattern>/wordSelected</url-pattern>
  </servlet-mapping>
</web-app>